
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*header部分*/
.header {
  width: 100%;
  z-index: 9999;
}
.for-sticky {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 55px;
  opacity: 0.8;
  z-index: 1;
  top: 0;
  left: 0;
  border-bottom: 1px solid #f1f1f1;
  display: block;
  padding: 0 15px 5px 15px;
  background: #ffffff;
}
.logo-nav {
  padding: 6px 0 10px 0;
  width: 45px;
  display: block;
}
.menu-wrap {
  position: fixed;
  z-index: 1001;
  width: 300px;
  height: 100%;
  right: -300px;
  float: right;
  background: #2f2f2f;
  padding: 25px 15px 0;
  top: 0;
}
.menu-button {
  width: 34px;
  height: 45px;
  position: fixed;
  right: 0;
  margin-right: 35px;
  z-index: 1000;
  padding: 0;
  background: transparent;
  border: none;
}
.menu-button span {
  display: block;
  position: absolute;
  height: 1px;
  width: 100%;
  background: #2f2f2f;
  opacity: 1;
  left: 0;
}
.menu-button span:nth-child(1) {top: 0;}

.menu-button span:nth-child(2) {top: 9px;}

.menu-button span:nth-child(3) {top: 18px;}
.menu-button:hover {opacity: 0.6;}
/*关闭按钮*/
.close-button {
  width: 10px;
  height: 10px;
  position: absolute;
  right: 10px;
  top: 10px;
  overflow: hidden;
  text-indent: 10px;
  font-size: 7px;
  border: none;
  background: transparent;
  color: transparent;
}
.close-button::before,
.close-button::after {
  content: '';
  position: absolute;
  width: 3px;
  height: 100%;
  top: 0;
  left: 50%;
  background: #bdc3c7;
}
.close-button::before {
  transform: rotate(45deg);
}
.close-button::after {
  transform: rotate(-45deg);
}
.menu-list a {
  display: block;
  padding: 1.5em 0;
  color: #a5a5a5;
  position: relative;
}
.menu-list a span:nth-last-child(1){
  margin-bottom: 100px;
}
.menu-list a span {
  margin-left: 10px;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  z-index: 2;
  position: absolute;
  margin-bottom: 20px;
  padding: 10px;
}
.menu-list a.active span{
  color: #ffffff !important;
}
.menu-list a.active span:before{
  width: 100%;
}
/*content-wrap部分*/

#home h1 {
  line-height: 40px;
}
.year {
  font-size: 26px;
  margin-bottom: 10px;
}
.year a{
  color: #000;
  font-weight: 500;
}
.job {
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  text-transform: uppercase;
  color: #cccccc;
}
.company {
  font-size: 12px;
  line-height: 14px;
  border: 1px solid #ececec;
  color: #cccccc;
  padding:8px 10px;
  border-radius: 6px;
  display: inline-block;
  margin-top: 5px;
  font-weight: 400;
}
/*home部分开始*/
#home {
  background: url('../images/banner.png');
  width: 100%;
  height: 700px;
}
.wrap-hero-content{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.hero-content{
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  padding: 65px;
  background: rgba(255, 255, 255, 0.8);
  outline: 4px double #FFFFFF;
  transform: translateX(-50%) translateY(-50%);
}
.hero6{
  width: 170px;
  overflow: hidden;
}
.hero-content h6{
  animation:mymove 10s infinite;
  display: block;
  font-size: 15px;
  letter-spacing:1px;
}
@keyframes mymove
{
  0%   {transform: translateX(100px);}
  25%  {transform: translateX(0);}
  50%  {transform: translateX(100px);}
  100% {transform: translateX(0);}
}
.mouse-icon {
  position: absolute;
  border: 2px solid #2f2f2f;
  background: #ffffff;
  opacity: 0.8;
  border-radius: 13px;
  height: 40px;
  width: 30px;
  margin: 0 auto;
  display: block;
  left: 0;
  right: 0;
  bottom: 150px;
  z-index: 100;
}
.mouse-icon .scroll {
  position: relative;
  border-radius: 10px;
  background: #2f2f2f;
  width: 4px;
  height: 8px;
  top: 4px;
  margin-left: auto;
  margin-right: auto;
  animation: scrolling 1s infinite;
}
@keyframes scrolling  {
  0%   { top:2px;  opacity: 0;}
  30%  { top:8px; opacity: 1;}
  100% { top:16px; opacity: 0;}
}
/*home部分结束*/

/*white-bg开始*/
.content-right ul li{
  list-style: none;
}
.content-detail{
  padding-right: 22px;
}
.icon-use {
  font-size: 30px;
  line-height: 20px;
  color: #818181;
  margin: 0;
}
.head-sm {
  font-size: 13px;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
.text-grey {
  color: #434343;
  line-height: 26px;
  margin-bottom: 60px;
}
.wrap-card {
  position: relative;
  box-shadow: 0 0 0 #818181;
  transition: all 0.2s ease 0s;
  transform: translateY(0px) translateX(0px);
}
.wrap-card:hover {
  box-shadow: 20px 20px 0 #818181;
  transform: translateY(-10px) translateX(-10px);
  transition: all 0.2s ease 0.4s;
}
.card {
  background: #ffffff;
  padding: 30px 35px 45px 35px;
  margin-bottom: 30px;
  border: 1px solid rgba(129, 129, 129, 0.1);
}
.grid {margin-top: 60px;}
.grid:after {
  content: '';
  display: block;
  clear: both;
}
.grid-item {
  width: 33.333%;
  float: left;
  top: 0;
  left: 0;
  overflow: hidden;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 30px;
}
.grid-item .wrap-article {
  border: 1px solid rgba(129, 129, 129, 0.1);
  background: #ffffff;
  padding: 30px 20px;
}
.grid-item .wrap-article img {
  text-align: center;
  display: block;
  margin: 0 auto;
}
.grid-item .wrap-article .img-circle {
  width: 133px;
  height: 133px;
}
.grid-item .wrap-article .fancy {
  line-height: 0.5;
  text-align: center;
  font-size: 16px;
  margin-top: 40px;
  color: #818181;
}
.grid-item .wrap-article .fancy span {
  display: inline-block;
  position: relative;
}
.grid-item .wrap-article .fancy span:before,
.grid-item .wrap-article .fancy span:after {
  content: "";
  margin-top: 1px;
  position: absolute;
  height: 5px;
  border-top: 1px solid #dedede;
  top: 0;
  width: 60%;
}
.grid-item .wrap-article .fancy span:before {
  right: 100%;
  margin-right: 5px;
}
.grid-item .wrap-article .fancy span:after {
  left: 100%;
  margin-left: 5px;
}
.grid-item .wrap-article .title {
  font-size: 16px;
  padding: 0 10px 0 10px;
  text-align: center;
  line-height: 26px;
  text-transform: none;
  font-weight: 700;
  color: #8c8c8c;
}
.grid-item .wrap-article .title:hover{
  color: #ccc;

}
.grid-item .wrap-article .content-blog {
  margin-top: 30px;
  padding: 0 10px 0 10px;
  text-align: justify;
  color: #5f5f5f;
}
.wrap-about {
  height: 100%;
  width: 100%;
  position: relative;
  display: block;
  min-height: 480px;
}
#contact {padding: 120px 0 200px 0;}
#contact form {
  margin-top: 25px;
}

#contact .group {
  position: relative;
  margin-bottom: 65px;
}
#contact input{
  font-size: 13px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #2b2b2b;
  background: transparent;
  color: #969696;

outline: none;
}

#contact label {
  color: #2b2b2b;
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
}
#contact .highlight {
  position: absolute;
  height: 60%;
  width: 100%;
  top: 25%;
  left: 0;
  opacity: 0.5;
}
#contact #sendMessage{
  border: 1px solid #2b2b2b;
}

#contact input[type=submit]:hover {
  background: #2b2b2b;
  color: #ffffff;
}
.footer-top{
  width: 100%;
  text-align: center;
  color: #cccccc;
  display: table;
}
.footer-top .col-md-4{
  overflow: hidden;
  height: 70px;
  padding: 0;
}
.footer-top .col-md-4 div{
  height: 70px;
  line-height: 70px;
  color: #fff;
}
.footer-top .col-md-4 div:nth-child(2){
  background: dodgerblue;
  display: block;
}

.footer-top .col-md-4:nth-child(1){
  background: #8c8c8c;
}
.footer-top .col-md-4:nth-child(2){
  background: #9f9f9f;
}
.footer-top .col-md-4:nth-child(3){
  background: #bfbfbf;
}
.footer-bottom{
  width: 100%;
  background: #2f2f2f;
  padding: 80px 0;
  color: #636363;

}
.footer-bottom img{
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.testionmoinal{
  background: url("../images/signature.png")no-repeat;
  width: 100%;
  height: 550px;
  background-size: 100% 100%;
}
.testionmoinal .container1{
  background: rgba(0,0,0,0.4);
  width: 100%;
  height: 550px;
  background-size: 100% 100%;
}
.testionmoinal .container1 .slider{
  text-align: center;
  padding-top: 250px;
  color: #fff;
  font-size:15px;
}

.testionmoinal .container1{
  position: relative;
}
.testionmoinal .container1 .slider-tu{
  position: absolute;
  left: 50%;
  top: 75%;
}
.testionmoinal .container1 .slider-tu .slider-tu-img{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  float: left;
  margin: 5px;
}
.title-small-center {
  font-weight: 700;
  margin-top: 50px;
}

.grey-bg{
  background: #f6f6f6;
  padding: 120px 0;
  display: block;
}

.white-bg{
  margin-top: 50px;
}
.while-md{
  width: 100%;
  background: #eeeeee;
  padding-top: 50px;
}
.while-md .col-md-12{
  border-bottom:2px solid rgba(144, 144, 144, 0.25);
  margin-bottom: 50px;
  padding: 0;
}
.while-md .col-md-7{
  background: #fff;
  height: 359px;
  padding: 65px;
}
.while-md .col-md-7 p{
  padding: 20px 0;
}



















